﻿<%@ Assembly Name="$SharePoint.Project.AssemblyFullName$" %>
<%@ Import Namespace="Microsoft.SharePoint.ApplicationPages" %>
<%@ Register TagPrefix="SharePoint" Namespace="Microsoft.SharePoint.WebControls" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Register TagPrefix="Utilities" Namespace="Microsoft.SharePoint.Utilities" Assembly="Microsoft.SharePoint, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>
<%@ Register TagPrefix="asp" Namespace="System.Web.UI" Assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" %>
<%@ Import Namespace="Microsoft.SharePoint" %>
<%@ Assembly Name="Microsoft.Web.CommandUI, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71e9bce111e9429c" %>

<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="NewItem.aspx.cs" Inherits="TAVIA.SharePoint.Club0803.DiscountedItems.NewItem" MasterPageFile="~masterurl/default.master" %>

<asp:Content ID="PageHead" ContentPlaceHolderID="PlaceHolderAdditionalPageHead" runat="server">
    <style>
        #sideNavBox {
            display: none;
        }

        #contentBox {
            margin-right: 20px;
            margin-left: 20px;
        }

        .h4, h4 {
            font-size: 1.5rem;
        }
    </style>

    <SharePoint:UIVersionedContent ID="UIVersionedContent1" UIVersion="4" runat="server">
        <contenttemplate>
		<SharePoint:CssRegistration Name="forms.css" runat="server"/>
	</contenttemplate>
    </SharePoint:UIVersionedContent>

    <link href="/_layouts/15/club0803/styles/bootstrap.min.css" rel="stylesheet" />
    <link href="/_layouts/15/club0803/styles/bootstrap-grid.min.css" rel="stylesheet" />
    <link href="/_layouts/15/club0803/styles/bootstrap-reboot.min.css" rel="stylesheet" />
    <link href="/_layouts/15/club0803/styles/style.css" rel="stylesheet" />
    <link href="/_layouts/15/club0803/fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

</asp:Content>

<asp:Content ID="Main" ContentPlaceHolderID="PlaceHolderMain" runat="server">
    <section class="col-md-12 form-container pb-3">
        <h2 class="title-container text-center py-3">New Discounted Item</h2>
        <div class="form-bg">
            <!-- section2 -->
            <div class="row p-3">
                <div class="col-md-8">
                    <h5 class="text-blue">Admin Details</h5>
                </div>
                <div class="col-md-4">
                    <a href="../../Pages/UploadDiscountedItems.aspx" class="float-right">Multiple Upload Items</a>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="row py-2">
                        <div class="col-md-5 col-sm-5 col-12">
                            <label>Full Name</label>
                        </div>
                        <div class="col-md-7 col-sm-7 col-12">
                            <asp:Label ID="lblEmployeeName" Text="&nbsp;" runat="server"></asp:Label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="row py-2">
                        <div class="col-md-5 col-sm-5 col-12">
                            <label>Email</label>
                        </div>
                        <div class="col-md-7 col-sm-7 col-12">
                            <asp:Label ID="lblEmployeeEmailAddress" Text="&nbsp;" runat="server"></asp:Label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr class="mtn-divider m-0 px-3" />
            </div>
            <!-- section3 -->
            <div class="row p-3">
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="row py-2">
                        <div class="col-md-5 col-sm-5 col-12">
                            <label>Category<span class="text-red">*</span></label>
                        </div>
                        <div class="col-md-7 col-sm-7 col-12">
                            <asp:DropDownList ID="ddlCategory" class="form-control mtn-input" runat="server" AutoPostBack="true"
                        OnSelectedIndexChanged="ddlCategory_SelectedIndexChanged">
                            </asp:DropDownList>
                            <SharePoint:InputFormRequiredFieldValidator ID="rfvCategory"
                                class="ms-error" ControlToValidate="ddlCategory" Text="Error" runat="server"
                                ErrorMessage="You must specify a value for this required field." EnableClientScript="true"
                                Display="Dynamic">
                            </SharePoint:InputFormRequiredFieldValidator>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="row py-2">
                        <div class="col-md-5 col-sm-5 col-12">
                            <label>Type<span class="text-red">*</span></label>
                        </div>
                        <div class="col-md-7 col-sm-7 col-12">
                        <asp:DropDownList ID="ddlType" class="form-control mtn-input" runat="server">
                        </asp:DropDownList>
                        <SharePoint:InputFormRequiredFieldValidator ID="rfvType"
                            class="ms-error" ControlToValidate="ddlType" Text="Error" runat="server"
                            ErrorMessage="You must specify a value for this required field." EnableClientScript="true"
                            Display="Dynamic">
                        </SharePoint:InputFormRequiredFieldValidator>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr class="mtn-divider m-0 px-3" />
            </div>
            <!-- section3 -->
            <div class="row p-3">
                <div class="col-md-12">
                    <h5 class="text-blue">Vendor Details</h5>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="row py-2">
                        <div class="col-md-5 col-sm-5 col-12">
                            <label>Vendor Name<span class="text-red">*</span></label>
                        </div>
                        <div class="col-md-7 col-sm-7 col-12">
                            <asp:DropDownList ID="ddlVendor" class="form-control mtn-input" runat="server" AutoPostBack="true"
                        OnSelectedIndexChanged="ddlVendor_SelectedIndexChanged">
                            </asp:DropDownList>
                            <SharePoint:InputFormRequiredFieldValidator ID="rfvVendor"
                                class="ms-error" ControlToValidate="ddlVendor" Text="Error" runat="server"
                                ErrorMessage="You must specify a value for this required field." EnableClientScript="true"
                                Display="Dynamic">
                            </SharePoint:InputFormRequiredFieldValidator>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-md-5 col-sm-5 col-12">
                            <label>Contact Person<span class="text-red">*</span></label>
                        </div>
                        <div class="col-md-7 col-sm-7 col-12">
                            <asp:Label ID="lblVendorContactPerson" Text="&nbsp;" runat="server"></asp:Label>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-md-5 col-sm-5 col-12">
                            <label>Phone Number<span class="text-red">*</span></label>
                        </div>
                        <div class="col-md-7 col-sm-7 col-12">
                            <asp:Label ID="lblVendorPhoneNumber" Text="&nbsp;" runat="server"></asp:Label>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="row py-2">
                        <div class="col-md-5 col-sm-5 col-12">
                            <label>Contact Email<span class="text-red">*</span></label>
                        </div>
                        <div class="col-md-7 col-sm-7 col-12">
                            <asp:Label ID="lblVendorContactEmail" Text="&nbsp;" runat="server"></asp:Label>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-md-5 col-sm-5 col-12">
                            <label>Contact Address<span class="text-red">*</span></label>
                        </div>
                        <div class="col-md-7 col-sm-7 col-12">
                            <asp:Label ID="lblVendorContactAddress" Text="&nbsp;" runat="server"></asp:Label>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-md-5 col-sm-5 col-12">
                        </div>
                        <div class="col-md-7 col-sm-7 col-12">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr class="mtn-divider m-0 px-3" />
            </div>

            <div class="row p-3">
                <div class="col-md-12">
                    <h5 class="text-blue">Discounted Item Details</h5>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="row py-2">
                        <div class="col-md-5 col-sm-5 col-12">
                            <label>Product Name<span class="text-red">*</span></label>
                        </div>
                        <div class="col-md-7 col-sm-7 col-12">
                            <SharePoint:InputFormTextBox ID="txtProductName" RichText="false" TextMode="Singleline"
                                runat="server" MaxLength="128" title="Product Name" class="form-control mtn-input mtn-textbox" />
                            <SharePoint:InputFormRequiredFieldValidator ID="rfvProductName"
                                class="ms-error" ControlToValidate="txtProductName" Text="Error" runat="server"
                                ErrorMessage="You must specify a value for this required field." EnableClientScript="true"
                                Display="Dynamic" BreakBefore="false">
                            </SharePoint:InputFormRequiredFieldValidator>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-md-5 col-sm-5 col-12">
                            <label>Description of the Product<span class="text-red">*</span></label>
                        </div>
                        <div class="col-md-7 col-sm-7 col-12">
                            <asp:TextBox ID="txtProductDescription" runat="server" Rows="3" TextMode="MultiLine" class="form-control mtn-input mtn-textbox"></asp:TextBox>
                            <SharePoint:InputFormRequiredFieldValidator ID="rfvProductDescription" class="ms-error"
                                ControlToValidate="txtProductDescription" Text="Error" runat="server" ErrorMessage="You must specify a value for this required field."
                                EnableClientScript="true" Display="Dynamic" BreakBefore="false">
                            </SharePoint:InputFormRequiredFieldValidator>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-md-5 col-sm-5 col-12">
                            <label>Vendor/Product Website URL</label>
                        </div>
                        <div class="col-md-7 col-sm-7 col-12">
                            <SharePoint:InputFormTextBox ID="txtVendorProductWebsiteURL" RichText="false" TextMode="Singleline"
                                runat="server" MaxLength="200" title="Vendor/Product Website URL" class="form-control mtn-input mtn-textbox" />
                            <asp:RegularExpressionValidator ID="rgxvVendorProductWebsiteURL" runat="server" ControlToValidate="txtVendorProductWebsiteURL"
                                ErrorMessage="Please Enter a Valid URL in complete form including http(s)" class="ms-error" Display="Dynamic"
                                ValidationExpression="http(s)?://([\w-]+\.)+[\w-]+(/[\w- ./?%&=]*)?" SetFocusOnError="true" ></asp:RegularExpressionValidator>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-md-5 col-sm-5 col-12">
                            <label>Closing Date<span class="text-red">*</span></label>
                        </div>
                        <div class="col-md-7 col-sm-7 col-12">
                                                <SharePoint:DateTimeControl ID="dtcClosingDate" LocaleId="2057" ToolTip="DD/MM/YYYY"
                        runat="server" DateOnly="true" CssClassTextBox="form-control mtn-input mtn-textbox"></SharePoint:DateTimeControl>
                    <asp:RequiredFieldValidator ID="rfvSuggestedClosingDate" runat="server" ControlToValidate="dtcClosingDate$dtcClosingDateDate"
                        class="ms-error" Display="Dynamic" ErrorMessage="You must specify a value for this required field."></asp:RequiredFieldValidator>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-md-5 col-sm-5 col-12">
                            <label>Payment Options<span class="text-red">*</span></label>
                        </div>
                        <div class="col-md-7 col-sm-7 col-12">
                            <asp:RadioButtonList ID="rblPaymentOptions" runat="server" RepeatDirection="Vertical">
                                <asp:ListItem Value="Installment">Installment</asp:ListItem>
                                <asp:ListItem Value="Full Payment">Full Payment</asp:ListItem>
                                <asp:ListItem Value="Not Applicable">Not Applicable</asp:ListItem>
                            </asp:RadioButtonList>
                            <SharePoint:InputFormRequiredFieldValidator ID="rfvPaymentOptions"
                                class="ms-error" ControlToValidate="rblPaymentOptions" Text="Error" runat="server"
                                ErrorMessage="You must specify a value for this required field." EnableClientScript="true"
                                Display="Dynamic">
                            </SharePoint:InputFormRequiredFieldValidator>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 col-12">
                    <div class="row py-2">
                        <div class="col-md-5 col-sm-5 col-12">
                            <label>Interest Rate<span class="text-red">*</span></label>
                        </div>
                        <div class="col-md-7 col-sm-7 col-12">
                            <SharePoint:InputFormTextBox ID="txtInterestRate" RichText="false" TextMode="Singleline"
                                runat="server" MaxLength="2" title="Interest Rate" class="form-control mtn-input mtn-textbox" />
                            <asp:RegularExpressionValidator ID="rgxvInterestRate" runat="server" ControlToValidate="txtInterestRate"
                                ErrorMessage="Please Enter a Valid Number" class="ms-error" Display="Dynamic"
                                ValidationExpression="^\d{1,2}$" SetFocusOnError="true"></asp:RegularExpressionValidator>
                            <SharePoint:InputFormRequiredFieldValidator ID="rfv"
                                class="ms-error" ControlToValidate="txtInterestRate" Text="Error" runat="server"
                                ErrorMessage="You must specify a value for this required field." EnableClientScript="true"
                                Display="Dynamic">
                            </SharePoint:InputFormRequiredFieldValidator>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-md-5 col-sm-5 col-12">
                            <label>Discount Rate<span class="text-red">*</span></label>
                        </div>
                        <div class="col-md-7 col-sm-7 col-12">
                            <SharePoint:InputFormTextBox ID="txtDiscountRate" RichText="false" TextMode="Singleline"
                                runat="server" MaxLength="2" title="Interest Rate" class="form-control mtn-input mtn-textbox" />
                            <asp:RegularExpressionValidator ID="rgxvDiscountRate" runat="server" ControlToValidate="txtDiscountRate"
                                ErrorMessage="Please Enter a Valid Number" class="ms-error" Display="Dynamic"
                                ValidationExpression="^\d{1,2}$" SetFocusOnError="true"></asp:RegularExpressionValidator>
                            <SharePoint:InputFormRequiredFieldValidator ID="InputFormRequiredFieldValidator1"
                                class="ms-error" ControlToValidate="txtDiscountRate" Text="Error" runat="server"
                                ErrorMessage="You must specify a value for this required field." EnableClientScript="true"
                                Display="Dynamic">
                            </SharePoint:InputFormRequiredFieldValidator>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-md-5 col-sm-5 col-12">
                            <label>Any other important information<span class="text-red">*</span></label>
                        </div>
                        <div class="col-md-7 col-sm-7 col-12">
                            <asp:TextBox ID="txtOtherImportantInformation" runat="server" Rows="3" TextMode="MultiLine" class="form-control mtn-input mtn-textbox"></asp:TextBox>
                            <SharePoint:InputFormRequiredFieldValidator ID="rfvOtherImportantInformation" class="ms-error"
                                ControlToValidate="txtOtherImportantInformation" Text="Error" runat="server" ErrorMessage="You must specify a value for this required field."
                                EnableClientScript="true" Display="Dynamic" BreakBefore="false">
                            </SharePoint:InputFormRequiredFieldValidator>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-md-5 col-sm-5 col-12">
                            <label>Product Price</label>
                        </div>
                        <div class="col-md-7 col-sm-7 col-12">
                            <SharePoint:InputFormTextBox ID="txtProductPrice" RichText="false" TextMode="Singleline"
                                runat="server" MaxLength="20" title="Product price" class="form-control mtn-input mtn-textbox" />
                            <asp:RegularExpressionValidator ID="rgxvProductPrice" runat="server" ControlToValidate="txtProductPrice"
                                ErrorMessage="Please Enter a Valid Number" class="ms-error" Display="Dynamic" EnableClientScript="true"
                                ValidationExpression="\d+(?:\.\d+)?" SetFocusOnError="true"></asp:RegularExpressionValidator>
                        </div>
                    </div>
                    <div class="row py-2">
                        <div class="col-md-5 col-sm-5 col-12">
                            <label>Upload Image<span class="text-red">*</span></label>
                        </div>
                        <div class="col-md-7 col-sm-7 col-12">
                            <asp:FileUpload ID="fuAttachDocument" runat="server" EnableViewState="true" CssClass="form-control mtn-input mtn-textbox"/>
                            <span style="color: red">&nbsp;jpg; jpeg; png;</span>
                            <SharePoint:InputFormRegularExpressionValidator ID="rgxvAttachDocument" runat="server"
                                ErrorMessage="Only files with these extensions are allowed .jpg .jpeg .png"
                                ValidationExpression=".*(\.jpg|\.JPG|\.jpeg|\.JPEG|\.png|\.PNG)$"
                                ControlToValidate="fuAttachDocument"></SharePoint:InputFormRegularExpressionValidator>
                            <SharePoint:InputFormRequiredFieldValidator ID="rfvAttachDocument" class="ms-error"
                                ControlToValidate="fuAttachDocument" Text="Error" runat="server" ErrorMessage="You must specify a value for this required field."
                                EnableClientScript="true" Display="Dynamic" BreakBefore="true">
                            </SharePoint:InputFormRequiredFieldValidator>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <hr class="mtn-divider m-0 px-3" />
            </div>

            <!-- button section -->
            <div class="col-md-12 py-3">
                <div class="row btn-div text-center">
                    <asp:Button ID="btnSubmit" class="btn mtn-btn mr-3" runat="server" Text="Submit" OnClick="btnSubmit_Click" />
                    <asp:Button ID="btnCancel" class="btn mtn-btn mr-3" CausesValidation="false" runat="server" Text="Cancel" OnClick="btnCancel_Click" />
                </div>
            </div>
        </div>
    </section>
</asp:Content>

<asp:Content ID="PageTitle" ContentPlaceHolderID="PlaceHolderPageTitle" runat="server">
    Club0803 - New Discounted Item
</asp:Content>

<asp:Content ID="PageTitleInTitleArea" ContentPlaceHolderID="PlaceHolderPageTitleInTitleArea" runat="server" />
