@import url('../fonts/MTNBrighterSans/MTNBrighterSans.css');

body {
    font-family: 'MTNBrighterSans-Regular' !important;
}

/* menu bar */
.menu-container {
    /* margin-bottom: 8.3rem!important; */
    height: 96px;
    background-color: rgba(255,202,48,1);
    width: 100%;
}
#ctl00_PlaceHolderMain_imgDiscountedItem {
    width: 30vh;
}
#s4-bodyContainer .wrapper #s4-titlerow{
   display:none !important;
}
.productlist-container .owl-dots{
    display: none !important;
}


/* data table */
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
    top: 9px;
    left: 4px;
    height: 14px;
    width: 14px;
    display: block;
    position: absolute;
    color: #000;
    border-radius: 14px;
    box-shadow: 0 0 3px #444;
    box-sizing: content-box;
    text-align: center;
    text-indent: 0 !important;
    font-family: 'Courier New', Courier, monospace;
    line-height: 14px;
    content: '+';
    background-color: #ffcc00;
}

/* form  */
.text-red {
    color: #e71919;
}

.text-black {
    color: #000;
}

.text-green {
    color: #1ebd39;
}

.text-blue {
    color: #1061a0;
}

h5.text-blue {
    color: #1061a0;
}

.text-grey {
    color: #999999;
}

.text-bold {
    font-weight: bold;
}

.comment-div {
    font-size: .8em;
}

.comment-container {
    background-color: #e0e0e0;
}

.form-container {
    background-color: #fafafa;
}

.form-bg {
    background-color: #fff;
    box-shadow: 0 0 5px #f1f1f1;
    border-radius: 6px;
}

.mtn-input {
    border-radius: 6px !important;
}

    .mtn-input:hover, .mtn-input:focus {
        box-shadow: none !important;
        border-color: #ffcc00;
    }

hr.mtn-divider {
    background-color: #ffcc00;
}


/* buttons */
.mtn-btn {
    background-color: #ffcc00 !important;
    border-radius: 25px !important;
    cursor: pointer !important;
    padding: .1em 1.5em !important;
    border: 1px solid transparent !important;
    font-size: 1rem !important;
    font-family: 'MTNBrighterSans-Regular' !important;
}

    .mtn-btn:hover, .mtn-btn:focus {
        background-color: #000 !important;
        color: #fff !important;
    }

.btn-div {
    justify-content: center;
}

.btn-div2 {
    float: right;
}

table.dataTable tbody td {
    padding: 20px 10px;
}

table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child:before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child:before {
    background-color: #ffcc00 !important;
}

/* upload btn */
.it .btn-orange {
    background-color: blue;
    border-color: #777 !important;
    color: #777;
    text-align: left;
    width: 100%;
}

.it input.form-control {
    border: none;
    margin-bottom: 0px;
    border-radius: 0px;
    border-bottom: 1px solid #ddd;
    box-shadow: none;
}

.it .form-control:focus {
    border-color: #ff4d0d;
    box-shadow: none;
    outline: none;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    background-color: #ffcc00;
}

.form-group .input-group {
    border: 1px solid #676767;
    border-radius: 6px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}


/*Active rate landing page */
.header2-mtn {
    background: #e0e0e0;
}

    .header2-mtn th {
        margin-left: 2.5em;
    }

.mtn-card-tables .table th, .mtn-card-tables .table td {
    padding-left: 2.5em !important;
    padding-right: 2.5em !important;
    font-size: 13px !important;
}

.text-green {
    color: #28a745;
}

.text-black {
    color: #000;
}

.mtn-panels {
    margin-bottom: 1em;
}


/* footer style */
footer.footer-section {
    background-color: #484848;
    text-align: center;
}

.footer-list ul.list-inline li {
    display: inline;
    font-family: 'MTNBrighterSans-Medium';
}

.footer-list li a {
    padding-right: 11px;
}



/* new style*/
.float-left {
    float: left;
}

.mtn-card {
    box-shadow: 0 0 7px #eaeaea;
    border-radius: 6px;
    min-height: 238px;
text-align:center;
}

    .mtn-card a {
        text-decoration: none;
    }

    .mtn-card .card-body span {
        text-decoration: none;
        color: #000;
        font-weight: 550;
    }

.hvr-bounce-out:hover, .hvr-bounce-out:focus, .hvr-bounce-out:active {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.hvr-bounce-out {
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

.mtn-card img {
    width: 150px;
}

@media (max-width:680px) {
    h2.title-container {
        font-size: 1.3em !important;
    }
}

/* additional style */

/* super admin worklist */
button#button-addon1 {
    background-color: #ffcc00;
}

    button#button-addon1 i.fa-search {
        color: #000;
    }

/* product landing page */
.content-alignment {
    justify-content: flex-end;
}

.input-borderPill {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

    .input-borderPill:hover, .input-borderPill:focus {
        box-shadow: none;
        border: 1px solid#ffcc00;
    }

.btn-borderPill {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.productlist-container .owl-dots {
    text-align: center;
}

    .productlist-container .owl-dots button.owl-dot {
        background-color: #fff !important;
        border: 1px solid #ffcc00 !important;
        border-radius: 50px;
        height: 15px;
        width: 15px;
        margin: .5em .35em .3em .35em;
    }

        .productlist-container .owl-dots button.owl-dot.active {
            background-color: #ffcc00 !important;
            border: 1px solid #fff !important;
        }

.productlist-container {
    background-color: #fafafa;
}

.product-card {
    box-shadow: 0 0 7px #eaeaea;
    border-radius: 6px;
    min-height: 238px;
}

    .product-card img.card-img-top {
        height: 225px;
        border-bottom-left-radius: 50% 20% !important;
        border-bottom-right-radius: 50% 20% !important;
        border-top-left-radius: 20px !important;
        border-top-right-radius: 20px !important;
    }

.inactive-product {
    background-color: #7f7f7f;
    color: #f9f9f9;
    border-radius: 25px;
    cursor: pointer;
    padding: .1em 1.5em
}

    .inactive-product:hover, .inactive-product:focus {
        background-color: #000;
        color: #fff;
    }

.product-modal {
    border: 1px solid #ffcc00;
}

.modal-container {
    max-width: 50%;
}

#more {
    display: none;
}

button#myBtn {
    border-radius: 50px;
    height: 40px;
    width: 40px;
    border: none;
    box-shadow: 0 0 5px rgba(0,0,0,.85);
    cursor: pointer;
}

.fa-chevron-down {
    color: #2B6112;
}

.fa-chevron-up {
    color: #2B6112;
}

@media (max-width:1200px) {
    .product-card img.card-img-top {
        height: 179px !important;
    }
}

@media (max-width:800px) {
    .modal-container {
        max-width: 80% !important;
    }
}

@media (max-width: 533px) {
    .product-card img.card-img-top {
        height: 243px !important;
    }
}

/* Osaka */

.mtn-textbox {
    padding: .375rem .75rem !important;
    color: #495057 !important;
    background-color: #fff !important;
    border: 1px solid #ced4da !important;
}

    .mtn-textbox:hover, .mtn-textbox:focus {
        box-shadow: none !important;
        border-color: #ffcc00 !important;
    }

input[type=radio] {
    width: 20px;
    height: 20px;
    margin-right: 7px;
}
